body {
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: #fff;
  padding-bottom: 90px;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.cabecalho figure img {
  width: 90px;
}

.formularioPesquisa {
  display: flex;
  height: 40px;
}
.formularioPesquisa input {
  width: 500px;
  font-size: 16px;
  border: 1px solid #cccccc;
  padding: 0 10px;
  border-radius: 2px 0 0 2px;
}
.formularioPesquisa button {
  width: 60px;
  border: 1px solid #cccccc;
  border-left: none;
  border-radius: 0 2px 2px 0;
}
.formularioPesquisa button img {
  width: 18px;
}
.cabecalho .imagemUsuario img {
  width: 35px;
  border-radius: 100%;
}
.destaqueCanal {
  background-image: url(/img/destaque.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
.secaoCanal {
  background-color: #fff;
}
.detalheCanal {
  display: flex;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 15px;
}

.detalheCanal figure {
  margin-right: 20px;
}

.detalheCanal figure img {
  border-radius: 100%;
  width: 80px;
}

.detalheCanal_info h1 {
  font-size: 20px;
  margin-bottom: 5px;
}
.detalheCanal_info p {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.menusNavegacaoCanal ul {
  display: flex;
  align-items: center;
}

.menusNavegacaoCanal ul li a {
  color: #606060;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  color: #606060;
}

.menusNavegacaoCanal ul li button {
  background-color: transparent;
  border: none;
}
.menusNavegacaoCanal ul li button img {
  width: 18px;
}
.containerVideosDestaques {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.containerVideosDestaques .coluna {
}
.containerVideosDestaques .coluna-esquerda {
  width: 800px;
}
/*==== FILA DE REPRODUÇÃO ====*/
.containerVideosDestaques .coluna-direita {
  width: 600px;
}
/*==== FILA DE REPRODUÇÃO ====*/
.secaoVideosDestaque {
}
.secaoVideosDestaque h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.secaoVideosDestaques_lista {
}
.secaoVideosDestaques_lista li {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.secaoVideosDestaques_lista li figure {
  margin-right: 20px;
}
.secaoVideosDestaques_lista li figure img {
  width: 250px;
}
.secaoVideosDestaques_lista li div {
}
.secaoVideosDestaques_lista li div h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.secaoVideosDestaques_lista li div span {
  font-size: 13px;
}

.secaoVideosDestaques_lista li div p {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonAdicionarAFila {
  background: color #d9d9d9;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  padding: 1px 8px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.secaoAdicionarAFila {
  margin-top: 50px;
}

.secaoAdicionarAfila_cabecalho {
  background-color: #fff;
  padding: 20px;
}
.secaoAdicionarAfila_cabecalho h2 {
  font-size: 18px;
  margin-bottom: 2px;
}
.secaoAdicionarAfila_cabecalho p {
  font-size: 15px;
}

.secaoAdicionarAFila_lista {
  padding: 20px 20px;
  height: 600px;
  overflow-y: scroll;
  background-color: #d9d9d9;
}
.secaoAdicionarAFila_lista li {
  display: flex;
  margin-bottom: 10px;
}
.secaoAdicionarAFila_lista li figure {
  margin-right: 10px;
}
/*== FILA DE REPRODUÇÃO ==*/
.secaoAdicionarAFila_lista li figure img {
  width: 150px;
}
.secaoAdicionarAFila_lista li div {
}
.secaoAdicionarAFila_lista li div h3 {
  font-size: 16px;
}
.secaoAdicionarAFila_lista li div span {
  display: none;
}
.secaoAdicionarAFila_lista li div p {
  display: none;
}
.secaoAdicionarAFila_lista li div button {
  display: none;
}
/*=== TODOS OS VIDEOS ===*/
.secaoTodosVideos {
}
.secaoTodosVideos .container {
}

.secaoTodosVideos h2 {
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 30px 30px;
}
.secaoTodosVideos h2 img {
  margin-right: 15px;
}

.secaoTodosVideos_lista {
  display: flex;
  justify-content: space-between;
}

.secaoTodosVideos_lista li {
  width: 250px;
}

.secaoTodosVideos__lista li figure {
}
.secaoTodosVideos_lista li figure img {
  width: 100%;
  margin: 8px 8px;
}
.secaoTodosVideos_lista li div {
}
.secaoTodosVideos_lista li div h3 {
  font-size: 16px;
  margin: 10px 10px;
}
.secaoTodosVideos_lista li div span {
  font-size: 13px;
  margin: 8px 8px;
}
.secaoTodosVideos_lista li div p {
  display: none;
}
.secaoTodosVideos_lista li div button {
  margin-top: 10px;
}
